*{
	box-sizing:border-box;

}

body{
	margin:0;
	font-family:'PT Sans', Arial, sans-serif;
	font-size:100%; // for responsiveness

}

h1,
h2,
h3,
h4 {
	font-family:'Oswald', serif;
}

header,
footer,
main,
aside,
article,
section,
nav,
figure,
figcaption {
	display:block;
}

a{
  text-decoration:none;
  font-weight:bold;
  color:$main-color;
  &:hover{
    // text-decoration::underline;
    color:lighten($main-color,20%);
  }
}
